.butt{
    border: 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    color: $white;
    text-shadow: 0.1rem 0.1rem 0 $shadow;
    background-color: $pink;
    background-image: -webkit-linear-gradient( bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15) ), url(../../assets/images/overlay.png);
    border-radius: 3rem;
    padding: 1.2rem 2rem;
    box-shadow: 0.1rem 0.1rem 0 $shadow;
}

@media screen and (min-width: 767px){
    .butt{
        font-size: 2rem;
        padding: 2rem 2.5rem;
    }
}

@media screen and (min-width: 1024px){
}