.doctors{
    width: 100vw;
    &__art{
        width: 100vw;
        max-width: 75rem;
        margin: 0 auto;
        padding: 3rem 1rem;
    }
    &__h2{
        font-size: 2rem;
    }
    &__p{
        font-size: 1.2rem;
        font-weight: 300;
        text-align: center;
        font-style: italic;
        &--ita{
            margin: 0 0 2rem 0;
            text-align: left;
        }
    }
    &__h4{
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
    }
    &__headbox{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    &__box{
        box-shadow: 0.1rem 0.1rem 0 $shadow2;
    }
}
@media screen and (min-width: 767px){
    .doctors{
        &__art{
            padding: 4rem;
        }
    }
}

@media screen and (min-width: 1024px){
    .doctors{
        &__art{
            padding:5rem 0rem;
        }
        &__h2{
            font-size: 2rem;
            text-align: center;
        }
        &__p{
            font-size: 1rem;
            &--ita{
                margin: 0 auto 3rem auto;
                text-align: center;
                max-width: 60%;
            }
        }
        &__h4{
            font-size: 1.3rem;
        }
        &__headbox{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 2rem;
        }
    }
}