.header{
    width: 100vw;
    height: 60rem;
    background: url(./../images/header-banner.jpg) center/cover;
    overflow: hidden;
    &__section{
        width: 100vw;
        height: calc(100% - 5rem);
        max-width: 75rem;
        margin: 0 auto;
        padding: 1rem 1rem 0 1rem;
        @include flexCSB;
    }
    &__box{
        position: relative;
        width: 100%;
    }
    &__img{
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &__entete{
        height: 50%;
        @include flexCFE;
        text-transform: uppercase;
        color: $white;
        text-shadow: 0.1rem 0.1rem 0 $shadow;
        transition: 0.5s ease-in-out;
        visibility: visible;
        z-index: 5;
    }
    &__h1{
        font-size: 2.8rem;
        font-weight: 800;
        height: 3.2rem;
    }
    &__h2{
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: 0.25rem;
        height: 1.5rem;
    }
    &__p{
        font-size: 1.2rem;
        font-weight: 500;
        text-transform: none;
        height: 1.5rem;
    }
    &__butt{
        margin-top: 2rem;
    }
}

@media screen and (min-width: 767px){
    .header{
        height: 100rem;
        &__section{
            height: calc(100% - 5rem);
            padding: 4rem 4rem 0 4rem;
        }
        &__h1{
            font-size: 5rem;
            height: 5.5rem;
        }
        &__h2{
            font-size: 2.5rem;
            height: 2rem;
        }
        &__p{
            font-size: 2rem;
        }
        &__butt{
            margin-top: 4rem;
        }
    }
}


@media screen and (min-width: 1024px){
    .header{
        height: 100vh;
        &__section{
            padding: 0;
        }
        &__box{
            position: relative;
            width: 50vw;
        }
        &__img{
            position: absolute;
            bottom: 0;
            left: 60%;
        }
        &__entete{
            height: 65%;
        }
        &__h1{
            font-size: 3.5rem;
            height: 4rem;
        }
        &__h2{
            font-size: 1.8rem;
            height: 1.5rem;
        }
        &__p{
            font-size: 1.4rem;
        }
        &__butt{
            margin-top: 2rem;
        }
    }
}