.header{
    background: url(./../images/header-banner.jpg) no-repeat center/cover;
    height: 100vh;
    width: 100%;
    position: relative;
    &__highTitle{
        width: 90%;
        max-width: 50rem;
        margin: 0 auto 0 auto;
        height: calc(100% - 5rem);
        @include flexCR;
        &Bloc{
        @include flexCR;            
        }
    }
    &__image{
        position: absolute;
        width: 25rem;
        right: 3rem;
        bottom: 0;
    }
    &__title{
        color: $colWhite;
        text-shadow: $shadWhite;
        letter-spacing: 0.1rem;
        @include fontS(2.2);
        text-transform: uppercase;
        font-weight: 800;
    }
    &__p{
        @extend .header__title;
        @include fontS(1.4);
        font-weight: 600;
        &--large{
            @include fontS(2.2);
            text-transform: uppercase;
            font-weight: 800;
        }
        &--mini{
            @include fontS(0.8);
            font-weight: 200;
        }
    }
    &__butt{
        margin: 2rem 0;
    }
}

@media screen and (min-width: 767px){
    .header{
        &__image{
            width: 35rem;
        }
    }
}
@media screen and (min-width: 1024px){

}
@media screen and (min-width: 1440px){
 
}