.howProt{
    width: 100vw;
    &__art{
        width: 100vw;
        max-width: 75rem;
        margin: 0 auto;
        padding: 3rem 1rem;
    }
    &__h2{
        font-size: 2rem;
    }
    &__p{
        font-size: 1.2rem;
        font-weight: 300;
        text-align: center;
        &--ita{
            font-style: italic;
            margin: 0 0 2rem 0;
            text-align: left;
        }
    }
    &__h4{
        font-size: 1.5rem;
        font-weight: 600;
    }
    &__box{
        @include flexC;
    }
    &__headbox{
        background: url(./../images/protect-bg.png) right/cover;
    }
    &__img{
        width: 8rem;
        height: 8rem;
        margin: 2rem auto;
        border: 0.1rem $grey solid;
        border-radius: 50%;
        background: url(./../images/sprite-home-v3.png);
        background-size: 40rem;
        transition: 0.5s ease-in-out;
        &:hover{
            background-color: $pink;
        }
        &--col1{
            background-position: 0.2rem 0rem;
            &:hover{
                background-position: 0.2rem -8.5rem;
            }
        }
        &--col2{
            background-position: -6.3rem 0rem;
            &:hover{
                background-position: -6.3rem -8.5rem;
            }
        }
        &--col3{
            background-position: -13.3rem 0rem;
            &:hover{
                background-position: -13.3rem -8.5rem;
            }
        }
        &--col4{
            background-position: -19.8rem 0rem;
            &:hover{
                background-position: -19.8rem -8.5rem;
            }
        }
        &--col5{
            background-position: -26.3rem 0rem;
            &:hover{
                background-position: -26.3rem -8.5rem;
            }
        }
        &--col6{
            background-position: -32.9rem 0rem;
            &:hover{
                background-position: -32.9rem -8.5rem;
            }
        }
    }
}
@media screen and (min-width: 767px){
    .howProt{
        &__art{
            padding: 4rem;
        }
        &__headbox{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 4rem;
            background-image: -webkit-linear-gradient( top, 
            rgba(255, 255, 255, 0.9), 
            rgba(255, 255, 255, 0.4) ), 
            url(./../images/protect-bg.png);
            background-position: center;
        }
    }
}

@media screen and (min-width: 1024px){
    .howProt{
        &__art{
            padding:5rem 0rem;
        }
        &__h2{
            font-size: 2rem;
            text-align: center;
        }
        &__p{
            font-size: 1rem;
            grid-area: b;
            &--ita{
                margin: 0 auto 3rem auto;
                text-align: center;
                grid-area: d;
                max-width: 50%;
            }
        }
        &__h4{
            font-size: 1.3rem;
            grid-area: a;
        }
        &__headbox{
            background: url(./../images/protect-bg.png) no-repeat center;
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas: 
            "b1 b4"
            "b2 b5"
            "b3 b6";
            column-gap: 30%;
            row-gap: 3rem;
        }
        &__box{
            display: grid;
            column-gap: 2rem;
            row-gap: 0.5rem;
            &--left{
                text-align: right;
                grid-template-areas:
                "a c"
                "b c";
                .howProt__p{
                    text-align: right;
                }
            }
            &--right{
                text-align: left;
                grid-template-areas:
                "c a"
                "c b";
                .howProt__p{
                    text-align: left;
                }
            }
            &:nth-child(1){
                grid-area: b1;
            }
            &:nth-child(2){
                grid-area: b2;
            }
            &:nth-child(3){
                grid-area: b3;
            }
            &:nth-child(4){
                grid-area: b4;
            }
            &:nth-child(5){
                grid-area: b5;
            }
            &:nth-child(6){
                grid-area: b6;
            }
        }
        &__img{
            grid-area: c;
            margin: 0rem auto;
            width: 5rem;
            height: 5rem;
            background-size: 25rem;
            &--col1{
                background-position: 0.2rem 0rem;
                &:hover{
                    background-position: 0.2rem -5.3rem;
                }
            }
            &--col2{
                background-position: -4rem 0rem;
                &:hover{
                    background-position: -4rem -5.3rem;
                }
            }
            &--col3{
                background-position: -8.4rem 0rem;
                &:hover{
                    background-position: -8.4rem -5.3rem;
                }
            }
            &--col4{
                background-position: -12.45rem 0rem;
                &:hover{
                    background-position: -12.45rem -5.3rem;
                }
            }
            &--col5{
                background-position: -16.5rem 0rem;
                &:hover{
                    background-position: -16.5rem -5.3rem;
                }
            }
            &--col6{
                background-position: -20.5rem 0rem;
                &:hover{
                    background-position: -20.5rem -5.3rem;
                }
            }
        }
    }
}