.nav{
    z-index: 1;
    width: 90%;
    max-width: 50rem;
    margin: 0 auto;
    height: 5rem;
    @include flexRSB;
    &__logo{
        margin-top: 1rem;
        width: 10rem;
        cursor: pointer;
    }
    &__box{
        position: absolute;
        width: 0rem;
        top:5rem;
        right: 0;
        list-style: none;
        display: grid;
        background: $colWhite;
        z-index: 1;
        text-transform: uppercase;
        padding: 1.5rem;
        transition: 1s ease;
        box-shadow: $shadWhite;
        opacity: 0;
        transform: translateX(-150%);
    }
    &__item{
        text-decoration: none;
        @include fontS(1.5);
        color: $colNav1;
        font-weight: 500;
        text-shadow: $shadNav1;
        cursor: pointer;
    }
    &__branch{
        text-align: center;
        height: 4.5rem;
        @include flexC;
    }
}
.toggle{
    font-size: 4rem;
    color: $colWhite;
    text-shadow: $shadWhite;
    cursor: pointer;
    &__open{
        display: block;
    }
    &__close{
        display: none;
    }
}
.toggle__on{
    .toggle{
        &__open{
            display: none;
        }
        &__close{
            display: block;
        }
    }
    .nav{
        &__box{
            opacity: 1;
            width: 100%;
            transform: translateX(0);
        }
    }
}
@media screen and (min-width: 767px){
    .nav{
        &__logo{
            margin-top: 0;
        }
        &__box{
            position: relative;
            top:0;
            width: 75%;
            @include flexRSE;
            background: transparent;
            padding: 0rem;
            box-shadow: none;
            opacity: 1;
            transform: translateX(0);
        }
        &__item{
            @include fontS(1);
            color: $colWhite;
            text-shadow: $shadWhite;
            &:hover{
                color: $colNav1;
                text-shadow: $shadNav1;
            }
        }
    }
    .toggle{
        display: none;
    }
}
@media screen and (min-width: 1024px){

}
@media screen and (min-width: 1440px){

}