.questions{
    position: relative;
    &__art{
        width: 100vw;
        max-width: 75rem;
        margin: 0 auto;
        padding: 3rem 1rem;
    }
    &__h2{
        font-size: 2rem;
    }
    &__p{
        font-size: 1.2rem;
        font-weight: 300;
        &--ita{
            font-style: italic;
            margin: 0 0 2rem 0;
        }
    }
    &__h4{
        font-size: 1.2rem;
        font-weight: 600;
    }
    &__box{
        display: grid;
        cursor: pointer;
        margin: 1rem auto;
        grid-template-columns: 2rem auto;
        grid-template-areas: 
        "a b"
        "c c";
        .questions{
            &__toggle{
                grid-area: a;
                font-size: 2rem;
                background-color: $grey2;
                height: 2.2rem;
                width: 2.2rem;
                border-radius: 50%;
                @include flexC;
            }
            &__h4{
                grid-area: b;
                margin-left: 1rem;
            }
            &__p{
                grid-area: c;
                display: none;
            }
        }
    }
    .toggle2{
        &__open{
            display: none;
        }
        &__close{
            display: block;
        }
    }
    .toggle__on{
        .toggle2{
            background-color: $pink;
            &__open{
                display: block;
                color: $white;
            }
            &__close{
                display: none;
            }
        }
        .questions{
            &__p{
                display: block;
            }
        }
    }
}

@media screen and (min-width: 767px){
    .questions{
        &__art{
            padding: 4rem;
        }
    }
}

@media screen and (min-width: 1024px){
    .questions{
        &__art{
            padding:5rem 0rem;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                top:-5rem;
                left:-25rem;
                background: url(./../images/left.png) no-repeat;
                background-size: 20rem;
                background-position: top left;
                width: 100%;
                height: 110%;
                z-index: -1;
            }
            &::after{
                content: "";
                position: absolute;
                top:0rem;
                right:-30rem;
                background: url(./../images/right.png) no-repeat;
                background-size: 40rem;
                background-position: top right;
                width: 100%;
                height: 100%;
                z-index: -1;
            }

        }
        &__headbox{
            @include flexCSBW;
            max-height: 30rem;
        }
        &__box{
            margin: 1.5rem 0;
            width: 50%;
            .questions{
                &__toggle{
                    font-size: 1rem;
                    height: 1.5rem;
                    width: 1.5rem;
                }
            }
        }
        &__h2{
            font-size: 2rem;
            text-align: center;
        }
        &__p{
            font-size: 1rem;
            &--ita{
                margin: 0 auto 5rem auto;
                text-align: center;
                max-width: 60%;
            }
        }
        &__h4{
            font-size: 1rem;
        }
    }
}