$white: #FFF;
$white2: rgba(255, 255, 255, 0.50);
$white3: rgba(255, 255, 255, 0.10);

$pink: #EA0F59;
$pink2: #ea0f5880;

$grey:#353434;
$grey2:#a1a1a1;

$shadow:rgba(93, 76, 85, 0.50);
$shadow2:rgba(93, 76, 85, 0.10);

$sprite1: #F5425E;
$sprite2: #A60548;
$sprite3: #7219B3;
$sprite4: #DA6603;

$ico1:#547BBC;
$ico2:#79CCF0;
$ico3:#DC4A38;
$ico4:#F99F2E;
$ico5:#0B7AB6;
$ico6:#EE1C1B;