$colWhite:#FFF;
$colWhite2:rgba(255, 255, 255, 0.85);
$shadWhite: 0.05rem 0.05rem 0.1rem #7D8491;

$colButt:#F5305A;
$shadButt: 0.05rem 0.05rem 0.1rem #7D8491;

$colNav1:#F5305A ;
$shadNav1: 0.05rem 0.05rem 0.1rem #303B4F;