.whatIs{
    margin: 0 auto;
    padding: 3rem 1rem;
    width: 100vw;
    max-width: 75rem;
    &__h2{
        font-size: 2rem;
    }
    &__p{
        font-size: 1.2rem;
        font-weight: 300;
        &--ita{
            font-style: italic;
            margin: 0 0 2rem 0;
        }
    }
    &__h3{
        font-size: 1.5rem;
        font-weight: 600;
        margin: 2rem 0 0.5rem 0;
    }
}
@media screen and (min-width: 767px){
    .whatIs{
        padding: 4rem;
    }
}

@media screen and (min-width: 1024px){
    .whatIs{
        padding: 7rem 0rem;
        display: grid;
        grid-template-columns: calc(60% - 2rem) 40%;
        gap: 2rem;
        &__p{
            font-size: 1rem;
        }
        &__h3{
            font-size: 1.2rem;
            margin: 2rem 0 0 0;
        }
    }
}