@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.butt {
  background: #F5305A;
  text-transform: uppercase;
  font-size: 1.3rem;
  text-decoration: none;
  color: #FFF;
  text-shadow: 0.05rem 0.05rem 0.1rem #7D8491;
  padding: 1rem 1.5rem;
  border-radius: 5rem;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  border: 0;
}

@media screen and (min-width: 767px) {
  .butt--medium {
    font-size: 1rem;
    padding: 0.8rem 1rem;
  }
}
.nav {
  z-index: 1;
  width: 90%;
  max-width: 50rem;
  margin: 0 auto;
  height: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.nav__logo {
  margin-top: 1rem;
  width: 10rem;
  cursor: pointer;
}
.nav__box {
  position: absolute;
  width: 0rem;
  top: 5rem;
  right: 0;
  list-style: none;
  display: grid;
  background: #FFF;
  z-index: 1;
  text-transform: uppercase;
  padding: 1.5rem;
  transition: 1s ease;
  box-shadow: 0.05rem 0.05rem 0.1rem #7D8491;
  opacity: 0;
  transform: translateX(-150%);
}
.nav__item {
  text-decoration: none;
  font-size: 1.5rem;
  color: #F5305A;
  font-weight: 500;
  text-shadow: 0.05rem 0.05rem 0.1rem #303B4F;
  cursor: pointer;
}
.nav__branch {
  text-align: center;
  height: 4.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.toggle {
  font-size: 4rem;
  color: #FFF;
  text-shadow: 0.05rem 0.05rem 0.1rem #7D8491;
  cursor: pointer;
}
.toggle__open {
  display: block;
}
.toggle__close {
  display: none;
}

.toggle__on .toggle__open {
  display: none;
}
.toggle__on .toggle__close {
  display: block;
}
.toggle__on .nav__box {
  opacity: 1;
  width: 100%;
  transform: translateX(0);
}

@media screen and (min-width: 767px) {
  .nav__logo {
    margin-top: 0;
  }
  .nav__box {
    position: relative;
    top: 0;
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    background: transparent;
    padding: 0rem;
    box-shadow: none;
    opacity: 1;
    transform: translateX(0);
  }
  .nav__item {
    font-size: 1rem;
    color: #FFF;
    text-shadow: 0.05rem 0.05rem 0.1rem #7D8491;
  }
  .nav__item:hover {
    color: #F5305A;
    text-shadow: 0.05rem 0.05rem 0.1rem #303B4F;
  }

  .toggle {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
  height: 100vh;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  font-family: "Poppins", sans-serif;
}

@media screen and (min-width: 767px) {
  * {
    font-size: 80%;
  }
}
@media screen and (min-width: 1024px) {
  * {
    font-size: 90%;
  }
}
@media screen and (min-width: 1440px) {
  * {
    font-size: 100%;
  }
}
.header {
  background: url(./../images/header-banner.jpg) no-repeat center/cover;
  height: 100vh;
  width: 100%;
  position: relative;
}
.header__highTitle {
  width: 90%;
  max-width: 50rem;
  margin: 0 auto 0 auto;
  height: calc(100% - 5rem);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
}
.header__highTitleBloc {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
}
.header__image {
  position: absolute;
  width: 25rem;
  right: 3rem;
  bottom: 0;
}
.header__title, .header__p {
  color: #FFF;
  text-shadow: 0.05rem 0.05rem 0.1rem #7D8491;
  letter-spacing: 0.1rem;
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 800;
}
.header__p {
  font-size: 1.4rem;
  font-weight: 600;
}
.header__p--large {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 800;
}
.header__p--mini {
  font-size: 0.8rem;
  font-weight: 200;
}
.header__butt {
  margin: 2rem 0;
}

@media screen and (min-width: 767px) {
  .header__image {
    width: 35rem;
  }
}

/*# sourceMappingURL=style.css.map */
